* {
	padding: 0;
	margin: 0;
	border: 0;
	outline: none;
	box-sizing: border-box;
}

img {
	max-width: 100%;
	height: auto;
}

html {
	height: 100%;
	scroll-behavior: smooth;
}

body, html {
	min-height: 100%;
	width: 100%;
}

body {
    font-family: $font;
}

.wrapper {
	max-width: 940px;
	min-width: 400px;
	width: 100%;
	margin: 0 auto;
	position: relative;
}

.arrow-down {
	@include size(30px);
	border: 1px solid var(--red);
	border-radius: 50%;
	display: block;
	margin: 30px auto;
	color: #fff;
	text-decoration: none;
	background-color: var(--red);
	text-align: center;
	line-height: 28px;
	font-size: 26px;
	font-weight: 100;
	transition: all .3s;

	&:hover {
		transform: rotate(360deg);
	}
}

.section {
	padding-top: 60px;
}