@include font-face('icomoon', 'fonts/icomoon/icomoon', $ver: '?d8tkya');
  
  [class^="icon-"], [class*=" icon-"] {
    /* use !important to prevent issues with browser extensions that change fonts */
    font-family: 'icomoon' !important;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
  
    /* Better Font Rendering =========== */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }
  
  .icon-arrow:before {
    content: "\e900";
  }
  .icon-brain:before {
    content: "\e901";
  }
  .icon-bulb:before {
    content: "\e902";
  }
  .icon-facebook:before {
    content: "\e903";
  }
  .icon-like:before {
    content: "\e904";
  }
  .icon-linkedin:before {
    content: "\e905";
  }
  .icon-monitor:before {
    content: "\e906";
  }
  .icon-mouse:before {
    content: "\e907";
  }
  .icon-quotes:before {
    content: "\e908";
  }
  .icon-rocket:before {
    content: "\e909";
  }
  .icon-rupor:before {
    content: "\e90a";
  }
  .icon-scale:before {
    content: "\e90b";
  }
  .icon-schedule:before {
    content: "\e90c";
  }
  .icon-twitter:before {
    content: "\e90d";
  }
  