.title {
    font-weight: 500;
    font-size: 28px;
    text-transform: uppercase;
    color: #868686;
    text-align: center;
    margin-bottom: 30px;

    &__wrap {
        border-bottom: 2px solid;
        padding-bottom: 5px;
    }

    &__word {
        color: var(--red);
    }
}

.description {
    color: #adadad;
    font-size: 20px;
    line-height: 26px;
    font-weight: 300;
    text-align: center;
    padding: 0 20%;
    margin-bottom: 80px;
}