// CSS Variables
:root {
    --red: #fc635e;
}

// SCSS Variables
$font: 'PF Encore Sans Pro', sans-serif;
$red: #fc635e;
$lightred: lighten(saturate($red, 2.07), 7.45);

$mobile: 768px;
$mobile-sm: 400px;