.button {
    font-weight: 300;
    font-size: 24px;
    color: var(--red);
    text-decoration: none;
    border: 2px solid var(--red);
    border-radius: 7px;
    display: inline-block;
    padding: 15px 35px;
    transition: all .3s;

    &:hover {
        color: #fff;
        border-color: #fff;
    }

    &--moused {
        position: relative;

        &::before {
            @include pos($t: 50%, $r: -60px);
            @extend .icon-mouse:before;
            font-family: 'icomoon' !important;
            font-size: 32px;
            color: #fff;
            opacity: .2;
            transform: translateY(-50%);
            pointer-events: none;
        }

        &::after {
            @include size(70px, 40vh);
            @include pos($t: 50%, $r: -132px);
            content: '';
            opacity: .2;
            border-radius: 0 30px 0 0;
            border-top: 2px dashed #fff;
            border-right: 2px dashed #fff;
            pointer-events: none;

            @media (max-width: $mobile) {
                @include size(33px, 35vh);
                right: -95px;
            }

            @media (max-width: $mobile-sm) {
                display: none;
            }
        }
    }

    &--wide {
        width: 210px;
        text-align: center;
        padding: 10px 20px;
    }
}