.header {
    background: url('../images/header.jpg') no-repeat top center;
    background-size: cover;
    min-height: 100vh;
    padding-top: 1px;

    &::before {
        @include size(100%);
        @include pos($t: 0, $l: 0);

        content: '';
        background-color: #181818;
        opacity: .7;
    }

    &__navigation {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    &__container {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        min-height: 100vh;
    }

    &__info {
        text-align: center;
        margin: 30px 0;
        color: #fff;
    }

    &__title {
        font-size: 51px;
        font-weight: 800;
        text-transform: uppercase;
        position: relative;
        margin-bottom: 15px;

        &::before,
        &::after {
            @include size(10%, 8px);
            @include align($pos: absolute);

            content: '';
            background-color: rgba(255, 255, 255, .2);
        }

        &::before {
            left: 0;
        }

        &::after {
            right: 0;
        }
    }

    &__word {
        color: var(--red);
    }

    &__description {
        font-size: 24px;
        font-weight: 300;
        margin-bottom: 45px;
    }
}
