.header {
    background: url('../images/header.jpg') no-repeat top center;
    background-size: cover;
    min-height: 100vh;
    padding-top: 1px;

    &::before {
        @include size(100%);
        @include pos($t: 0, $l: 0);

        content: '';
        background-color: #181818;
        opacity: .7;
    }

    &__navigation {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    &__container {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        min-height: 100vh;
    }
}
