.menu {
    display: flex;

    @media print {
        display: none;
    }

    @media (max-width: $mobile) {
        flex-direction: column;
        margin-top: 20px;
    }

    @media (min-width: $mobile-sm) and (max-width: $mobile) {
        height: 50px;
    }

    &__item {
        margin-left: 50px;

        @media (max-width: $mobile) {
            margin-bottom: 20px;
        }
    }

    &__link {
        text-decoration: none;
        text-transform: uppercase;
        color: #fff;
        font-weight: 100;
        transition: all .3s;
        position: relative;

        &:active {
            color: var(--red);
        }

        @media (min-width: $mobile) {
            &:hover {
                color: var(--red);
    
                &::after {
                    width: 100%;
                }
            }
        }

        &::after {
            @include size(0, 4px);
            @include align(false, true, absolute);
            bottom: -10px;

            content: '';
            background-color: var(--red);
            transition: all .3s;
        }
    }
}